#featured_title_div {
    width: -webkit-fill-available;
    margin-top: 25px;
    margin-bottom: 20px;

    h1#featured-title {
        text-align: center;
        justify-content: center;
        align-self: center;
    }
}